<%- include('partials/login') -%>
<body>
    <div class="main">
        <h1>This is purely: <div class="roller">
          <span id="rolltext"><br/>
          YOGA<br/>
          MINFDULNESS<br/>
          <span id="spare-time">TRACK YOUR JOURNEY</span><br/>
          </div>
        </h1>
        </div>
        <section class="jumbotron text-center">
            <button><a href="/login">Log In</a></button>
            <button><a href="/signup">Sign Up</a></button> 
        </section>
</body>
</html>
