<!DOCTYPE HTML>
<html>

<head>
	<title>MINDFUL YOGI</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="single is-preload">


	<!-- Header -->
	<header id="header">
		<h1><a href="/feed">Mindful Yogi</a></h1>
		<nav class="links">
			<ul>
				<li><a href="/tracker">DAILY LOG</a></li>
				<li><a href="/media">MY MEDIA</a></li>
				<li><a href="/cal">CALENDAR</a></li>
				<li><a href="/profile">PROFILE</a></li>
				<li><a href="/seq">SEQUENCES</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</nav>
		<nav class="main">
			<ul>
				<li class="search">
					<a class="fa-search" href="#search">Search</a>
					<form id="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					</form>
				</li>
			</ul>
		</nav>
	</header>

  <% for(let i=0; i < sequence.poses.length; i++){ %>
    <ul>
      <li><%=sequence.poses[i].poseName%></li>
      <li><img src="<%=sequence.poses[i].poseImg%>"></li>
			<form action="/seq/deletePose/<%=sequence._id%>/<%=sequence.poses[i].poseID%>?_method=DELETE" method="POST"
				class="col-3">
				<button class="button large">Trash</button>
			</form>
    </ul>
  <% } %>


  <script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>